* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: unset;
}
body {
  background-image: url(bg.jpg);
  background-position:1px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  border-radius: 10px;
  margin: 400px;
  padding: 30px;
  margin-top: 340px;
  background-color:rgba(0, 0, 0, .9);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 2px 10px rgba(225, 225, 225, 0.1);
}
h1 {
  color: #c9cf9f;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  
}
p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
.input {
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f6e935;
  box-shadow: 0.5px 0.5px 9px white;
  cursor: pointer;
  transition: 0.5s;
}
.input:hover {
  transition: all 0.5s;
  background-color: black;
  color: white;
}
